<div>
  <h1>{{ title }}, {{ userName }}</h1>

  <label for="name">Enter Your Name:</label>
  <input type="text" [(ngModel)]="userName" (input)="onInput($event)" placeholder="Enter your name" />
  <span class =error-output>{{this.nameError}}</span>
  <p *ngIf="nameError" style="color: red;">{{ nameError }}</p>
  <h2 *ngIf="!nameError">Hello, {{ userName }}!</h2>

  <img 
    [src]="imgUrl" 
    alt="BridgeLabz Logo: A Bridge to Employment through a Lab works" 
    (click)="openBridgeLabz()" 
    style="cursor: pointer; width: 200px; height: auto; margin-top: 10px;"
  />
</div>
