div {
    text-align: center;
    margin-top: 50px;
  }
  
  img {
    width: 200px;
    height: auto;
    border: 3px solid #000;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  img:hover {
    transform: scale(1.1);
  }
  